header {
    background-color: rgba(39, 39, 39, 0.938);
    padding: 1px;
    margin: 0;
    box-shadow: 0px 0px 10px black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.items ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;

}

a {
    text-decoration: none;
    font-weight: bold;
    font-family:'open sans';
    color: white;
    letter-spacing: 1px;
    padding: 10px;
}
a:hover {
    background-color: rgb(39, 39, 39);
    border-radius: 4px;
    transition: 1s ease-out;
    color: white;
}
