<header>
    <a href="">Agenda</a>
    <nav>
        <div class="items">
            <ul>
                <li><a href="">Cadastar</a></li>
                <li><a href="">Sair</a></li>
            </ul>
        </div>
    </nav>
</header>