<%- include('includes/head')%>
<%- include('includes/nav')%>

<section class="container">
    <h2>Faça seu cadastro</h2>
    <div class="col-lg">
        <%- include('includes/messages');%>
    
        <form action="/login/register" method="POST" class="form">
            <input type="hidden" name="_csrf" value=<% csrfToken %>>
            <div class="form-group">
                <label for="email-address">Email address</label>
                <input type="email" placeholder="Write your email address here" name="email" id="email-address">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" placeholder="Write your password  here" name="password" id="password">
            </div>
    
            <button type="submit" class="btn btn-primary">Create account</button>
    
        </form>
    </div>
</section>



<%- include('includes/footer')%>